*.iml
.gradle
/local.properties
/.idea/caches
/caches
/daemon
/wrapper
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml

/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.bin
*.lock
*.class
*.properties
*.jar
*.receipt
*.pom
*.aar
*.module
*.flat
*.dex

wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/LICENSE
*.bat
*.zip
*.ok
*.png
